    <!-- index.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperature Conversion Py</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
    <section class="hero is-small is-primary">
    <div class="hero-body">
        <p class="title">Temperature Conversion</p>
    </div>
    </section>
    <section class="section">
        <div class="container">
        <!-- <p class="subtitle"><form method="POST" action="/input"> -->
            <h2 class="subtitle">Enter a number to convert
                <form method="POST">
                    <input type="text" name="user_input"><br>
                    <input type="radio" name="unit" id="celsius" value="celsius"> Convert to Celsius </input>
                    <input type="radio" name="unit" id="fahrenheit" value="fahrenheit"> Convert to Fahrenheit </input><br><br>
                    <input type="submit" name="submit" value="Convert" button class="button is-primary">
                </form>
            </h2>
            <!-- </p> -->
        </div>
    </section>
    <section class="section">       
        <div class="container">
            <div class={{result_container}}>
            <h1 class="title">{{title}}</h1>
            <p class="subtitle">
              {{input}} {{from_unit}} {{result}} {{to_unit}}
              {{error}} 
            </p>
        </div>
        </div>
    </section>
    </body>
    </html>